.btn_small{
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.bugs_header {
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.brand-logo {
    margin-left: 15px;
}