{% extends 'base.html' %} {% block content %}

<h3 class="center-align">Existing Issues</h3>
<br>
<ul class="collapsible popout">
    {% for bug in bugs %}
    <li>

        <div class="collapsible-header">

            <div class="col s3">
                <i class="material-icons">expand_more</i>
                <a href="{{url_for('complete_bug', bug_id=bug._id)}}" class="waves-effect waves-light btn btn_small green">Done</a>
                <a href="{{url_for('edit_bug', bug_id=bug._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                <a href="{{url_for('delete_bug', bug_id=bug._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
            </div>
            <div class="bugs_header col s9">
                <strong> {{bug.whats_wrong}} </strong>

            </div>



        </div>
        <div class="collapsible-body">
            <span><strong>ID</strong> - {{bug._id}}</span><br>
            <span>{{bug.how_to_repeat}}</span>

        </div>
    </li>
    {% endfor %}
</ul>
<button class="btn waves-effect waves-light " ><a href="{{url_for('add_bug')}}">Add Issue
                <i class="material-icons right">playlist_add</i></a>
             </button> {% endblock %}