{% extends 'base.html' %} {% block content %}

<h3 class="center-align">Edit Project</h3>


<div class="row">
  <form action="{{url_for('update_project', project_id=project._id)}}" method="POST" class="col s8 offset-s2">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="name" name="name" type="text" maxlength="31" data-length="30" value="{{project.name}}">
        <label for="name">Project Name</label>
        <span class="helper-text" data-error="Too many charactors, please condense." data-success=""></span>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">notes</i>
        <input id="description" name="description" type="text" maxlength="81" data-length="80" value="{{project.description}}">
        <label for="description">Description</label>
        <span class="helper-text" data-error="Description too long. Please reduce." data-success=""></span>
      </div>
      <div class="input-field col s12">
        

       <button class="btn waves-effect waves-light" type="submit">Edit Project
                <i class="material-icons right">playlist_add</i>
             </button>
      </div>
    </div>

  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        due_date = Date.parse('{{project.com_date}}');
      
       $('#com_date').datepicker().set('select', due_date).trigger('change');
      
    });
</script>

{% endblock %}